.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
}


.lmj-sales {
	position: absolute;
	right: 0px;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: #31b572;
}